.header {
    background-color: var(--primary);
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: var(--white);
    font-size: 1.25rem;
    text-decoration: none;
    transition: var(--timming);
    -webkit-transition: var(--timming);
    -moz-transition: var(--timming);
    -ms-transition: var(--timming);
    -o-transition: var(--timming);
}

.header a:hover {
    opacity: 0.7;
}

.header .logo a {
    font-weight: 700;
    font-size: 1.5rem;
}

.header .nav-links {
    display: flex;
    align-items: center;
}

.header .nav-links li {
    display: inline-block;
    margin-right: 30px;
}

.header .nav-links li:last-of-type {
    margin-right: 0;
}

@media (max-width: 575px) {
    .header .nav-links li {
        margin: 0 5px;
    }
}